body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title{
  padding:5px 12px;
  float:left;
}
.addDancerButton{
  padding:5px 12px;
  float:right;
}
.addDancerButton:hover{
  padding:5px 12px;
  float:right;
  color:white
}
.addSuperButton{
  padding:5px 12px;
  float:right;
}
.addSuperButton:hover{
  padding:5px 12px;
  float:right;
  color:white
}
.addIronButton{
  padding:5px 12px;
  float:right;
}
.addIronButton:hover{
  padding:5px 12px;
  float:right;
  color:white
}
.topbar{
  height:32px;
  background-color: #555;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  /* float: right; */
}
.hero{
  max-width:5%;
  height:auto;
  position:absolute;
}
.hero2{
  max-width:5%;
  height:auto;
  /* width:30px;
  height:30px; */
  position:absolute;
}